aiofiles==0.6.0
blinker==1.4
click==7.1.2
eventkit==0.8.6
Flask==1.1.2
h11==0.12.0
h2==4.0.0
hpack==4.0.0
Hypercorn==0.11.2
hyperframe==6.0.1
ib-insync==0.9.65
ibapi==9.81.1.post1
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
nest-asyncio==1.5.1
numpy==1.20.2
priority==1.3.0
Quart==0.14.1
toml==0.10.2
Werkzeug==1.0.1
wsproto==1.0.0
